[project]
name = "scripts"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "asyncpg>=0.30.0",
    "httpx>=0.28.1",
    "polars>=1.35.1",
    "pydantic>=2.12.3",
    "sqlalchemy>=2.0.44",
]
